.container{
    border: 1px solid black;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
@media only screen and (max-width:$mobile){
    .container{
        max-width: 365px;
        margin: 0 auto;
        padding: 0 15px;
    }
}